#header {
  width: 596px;
  height: 35px;
  position: relative;
  background: url(images/vamp-title.png) no-repeat;
}
#header span {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
body {
  margin: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 2em;
  border-right-width: 2em;
  border-left-style: solid;
  border-right-style: solid;
  border-left-color: #ef6a35;
  border-right-color: #ef6a35;
  background-color: #ffffff;
  padding-top: 1.4em;
  padding-bottom: 20em;
  padding-left: 2em;
  padding-right: 2em;
  color: #303030;
}
p,td,ul,ol,li,blockquote { 
    font-size: 1em;
    font-style: normal;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
h1,h2,h3,h4 { 
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
#firstpara {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #ef6a35;
  padding-top: 1em;
}
#logoblock {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #ef6a35;
  font-size: 0.9em;
}
#nav {
  position: relative;
  float: right;
  top: 1.8em;
  color: #ef6a35;
  margin-left: 1em;
  padding-left: 1em;
  margin-bottom: 3em;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #ef6a35;
/*  text-align: right;*/
}
#nav ul {
/*  display: inline; */
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
}
#nav ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ef6a35;
}
a:visited {
  text-decoration: none;
  color: #ef6a35;
}
a:hover {
  text-decoration: underline;
  color: #ef6a35;
}
.logoleft { 
  float: left;
  padding-right: 2em;
  padding-bottom: 2em;
}
.logoright { 
  float: right;
  padding-left: 2em;
  padding-bottom: 2em;
}
.toc1,.toc2,.toc3,.toc4 { 
    font-size: 0.8em;
    font-style: normal;
    font-weight: bold;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.toc2 { 
  padding-left: 2em;
}
.toc3 { 
  padding-left: 4em;
}
.toc4 { 
  padding-left: 6em;
}
